.grid {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.grid-grey {
	background-color: #bec6cf;
}

.grid-white {
	background-color: #f7f7f7;
}

.grid-header {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.grid-header-row {
	display: flex;
	gap: 2px;
}

.grid-header-cell {
	flex-basis: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.8rem 0.25rem;
}

.pointer {
	cursor: pointer;
}

.grid-header-text {
	font-weight: 700;
	font-size: 0.9rem;
}

.grid-header-icon-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.grid-header-icon-up {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid grey;
}

.grid-header-icon-down {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid grey;
}

.grid-header-icon-up.grid-header-icon-active {
	border-bottom: 7px solid black;
}

.grid-header-icon-down.grid-header-icon-active {
	border-top: 7px solid black;
}

.grid-body {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.grid-body::-webkit-scrollbar {
	display: none;
}

.grid-body-row {
	display: flex;
	gap: 2px;
}

.grid-body-cell {
	flex-basis: 20%;
	padding: 0.8rem 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.grid-body-text {
	font-size: 0.9rem;
}

.left-margin div {
	margin-left: 3rem;
}

.center-align {
	justify-content: center;
}
